.idea
idea
.DS_Store
.env.dev
.env
env/
.vscode/

# Docker
docker-compose.yml
.dockerignore
Dockerfile
db.sqlite3

*.egg-info/
.installed.cfg
*.egg

dist
db.sqlite3
sqlite.db
venv
runserver.sh

__pycache__/
*/__pycache__/
*.py[cod]
.pyc
*.pyc

!*media/.gitkeep
media/profile_photos
!src/*/migrations/__init__.py
src/*/migrations/*
log/debug.log

build
doc
home.rst
make.bat
Makefile

doc-dev

*.log
.log